@model OTS.Models.QuestionModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Question", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="text-left">
            <h4>Edit Question</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.InventoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.InventoryId, Model.AvailableInventories, new { htmlAttributes = new { @class = "form-control", required = "required", onchange = "FillSubInventories()" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SubInventoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SubInventoryId, Model.AvailableSubInventories, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumberOfAnswers, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumberOfAnswers, new { htmlAttributes = new { @type = "number", @min = "2", @step = "1", @value = "2", @max = "10", @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.NumberOfAnswers, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AvailableAnswers, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <table class="table" id="tblAnswers">
                        <tr>
                            <th>
                                
                            </th>
                            <th>
                                Question
                            </th>
                            <th>
                                
                            </th>
                            <th>
                                Is Corrected Answer?
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.AvailableAnswers)
                        {
                            using (Html.BeginForm("Delete", "Answer", new { id = item.AnswerID }))
                            {
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(modelItem => item.AnswerID)
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(modelItem => item.answer)
                                        </td>
                                        <td>
                                            @Html.HiddenFor(modelItem => item.QuestionID)
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => item.isCorrect, new { onclick = "CheckNumberOfCheckedBox()" })
                                        </td>
                                    </tr>
                                }
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" id="SaveAnswers" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Question List", "Index")
</div>

<script type="text/javascript">

    function CheckNumberOfCheckedBox() {
        var count = 0;
        $('#tblAnswers').find('tr').each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked')) {
                count++;
                if (count > 1)
                {
                    alert("Only one corrected answer");
                    row.find('input[type="checkbox"]').attr('checked', false);
                    return false;
                }
            }
        });
    }

    $(document).ready(function() {

        $("#SaveAnswers").click(function () {

            var tbl = $('#tblAnswers tr:has(td)').map(function (i, v) {
                return {
                    answerId: $(this).find("td:eq(0) input[type='hidden']").val(),
                    answer: $(this).find("td:eq(1) input[type='text']").val(),
                    questionId: $(this).find("td:eq(2) input[type='hidden']").val(),
                    isCorrect: $(this).find("td:eq(3) input[type='checkbox']").prop('checked')
                }
            }).get();

            $.ajax({
                contentType: 'application/json',
                type: "POST",
                url: "/Question/SaveAnswers",
                dataType: "json",
                data: JSON.stringify({ models: tbl }),
                async: false,
                success: function (data) {
                    
                }
            });
        });
    });
</script>
