@model IEnumerable<OTS.Model.Question>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New Question", "Add")
</p>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default" id="panel-inline">
                <div class="panel-heading">
                    <h2>Grading Criteria List</h2>
                    <div class="panel-ctrls"></div>
                </div>
                <div class="panel-body panel-no-padding">

                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="editable">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Inventory</th>
                                <th>SubInventory</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QuestionText)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubInventory.inventory.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubInventory.name)
                                    </td>

                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.QuestionID }) |*@
                                        @Html.ActionLink("Details", "Details", new { id = item.QuestionID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.QuestionID })
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table><!--end table-->
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>



</div>

