@model IEnumerable<OTS.Model.Inventory>
@using OTS.Model

@{
    ViewBag.Title = "Category List";
}


<p>
    @Html.ActionLink("Add New Category", "Create")
    <button type="button" name="exportexcel">
        @Html.ActionLink("Export to Excel", "ExportXlsx")
    </button>
    <button type="button" name="importexcel" data-toggle="modal" data-target="#importexcel-window">
        Import from Excel
    </button>
</p>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default" id="panel-inline">
                <div class="panel-heading">
                    <h2>Category List</h2>
                    <div class="panel-ctrls"></div>
                </div>
                <div class="panel-body panel-no-padding">

                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="editable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Created Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>


                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.InventoryID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.InventoryID }) |*@
                                        @Html.ActionLink("Delete", "Delete", new { id = item.InventoryID })
                                    </td>
                                   
                                </tr>
                            }

                        </tbody>
                    </table><!--end table-->
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>



</div>
<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">Import From Excel</h4>
            </div>
            @using (Html.BeginForm("ImportFromXlsx", "Inventory", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="label-wrapper">
                                <label class="control-label">
                                    File
                                </label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="import">
                            Import From Excel
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#import").click(function () {
        var fileExtension = ['xlsx', 'xls'];
        if ($.inArray($("#importexcelfile").val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : " + fileExtension.join(', '));
            return false;
        }
    });
</script>